* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #777377;
}


html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: #dfd8ce;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 3px solid #dfd8ce;
}

.main-nav li {
    padding: 0 5%;
}


.nav a:hover {
    background-color: #767873;
}

.main-header {
    background-color: #b2a08a;
}

.side-navn {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    color: #e1e5e4;
}

.side-navn-stor {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    color: #574c45;
    text-align: center;
    font-size: 2.5em;
}

.om-os-billede {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;

}

.main-footer {
    background-color:#B2a08a;
    color: black;
    padding: .25em 0;

}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.bnt {
    text-align: center;
    vertical-align: middle;
    padding: .65em;
    cursor: pointer;
}

.bnt-header {
    margin: .5em 15% 2em 15em;
    color: rgb(83, 35, 35);
    border: 2px solid #767873;
    background-color: #dfd8ce;
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.bnt-header:hover {
    background-color: #a7856a;
}

.bnt-360 {
    display: block;
    margin: 0 auto;
    color: #a7856a;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;

}

.produkt-info {
    border-bottom: 1px solid bla;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.produkt-info:last-child {
    border-bottom: none;
}

.pris {
    display: inline-block;
    padding-right: .5em;
    color: rgba(5, 5, 5, 0.616);
    font-weight: bold;
}

.produkt-navn {
    width: 24%;

}

.kort-info {
    width: 42%;
}

.pordukt-bnt {
    max-width: 19%
}

.bnt-primary {
    color: rgba(5, 5, 5, 0.753);
    background-color: #dfd8ce;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.bnt-primary:hover {
    background-color: #a7856a
}

.shop-item {
    margin: 30px;
    align-items: center;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5en;
    color: rgba(0, 0, 0, 0.863);
    margin: 15px;
}

.shop-item-img {
    height: 250px;

}

.shop-navn {
    display: block;
    font-size: 8em;
}

.shop-items-details {
    display: flex;
    align-items: center;
    padding: 2.5px;
    font-size: 2.5em;

}

.shop-item-price{
    flex-grow: 1;
    color: #554838;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #dfd8ce;
}

.cart-column {
    display: flex;
    align-items:center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.795);
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.3em;
    color: #dfd9ce;
}

.cart-antal {
    width: 35%;
}

.cart-item-titel {
    color: black;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.bnt-danger {
    color: white;
    background-color: red;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.bnt-danger:hover {
    background-color: rgba(197, 16, 16, 0.856);
}

.cart-antal-imput {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #2d2d2d;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;

}

.cart-row:last-child {
    border-bottom: 3px solid black;
}

.cart-row:last-child {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.bnt-kob {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 2.5em;
}

.knap {
    display: block;
    margin: 0 auto;
    color: #2d2d2d;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;

}